body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.hizmetlistesi {
  color: #000000;
  font-weight: bold;
}

.misyon {
  color: #636363;
}

a {
  color: #000000 !important;
}

/* ProjelerAsCard */

/* ProjelerAsCard > Card > label edit kalemin zemin rengini griden beyaz yapar */
.editProjectCard {
  background-color: #fff !important;
  display: none !important;
}

/* ProjelerAsCard > Card > card üstüne gelince edit kalemi gözükmesi için */
.projectCard:hover .editProjectCard {
  display: block !important;
}

.projectCard .header, .description {
  text-align: left !important;
}

/* Semantic UI modal position fix */
/* .ui.active.dimmer.modals.transition {
    display: flex !important;
    display: -ms-flexbox !important;
} */

/* Semantic UI modal position fix */
.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 5%;
}

